<footer>
    <div class="zerogrid">
        <div class="row wrapper">
            <section class="col-2-3">
                <div class="heading">python哲学</div>
                <div class="content"style="color: crimson;">
                    优美胜于丑陋明了胜于晦涩，简单胜过复杂，复杂胜过凌乱，扁平胜于嵌套，间隔胜于紧凑，可读性很重要。即使假借特例的实用性之名，也不违背这些规则，虽然实用性次于纯度，错误不应该被无声的忽略，除非明确的沉默，当存在多种可能时，不要尝试去猜测。有一个，最好只有一个，明显能做到这一点。虽然这种 方式可能不容易，除非你是python之父，现在做总比不做好，虽然过去从未比现在好，如果这个实现不容易解释，那么它肯定是坏主意，如果这个实现容易解释，那么它很可能是个好主意。命名空间是一种绝妙的理念，应当多加利用！
                </div>
            </section>
        </div>
    </div>

    <div id="copyright">
        <p>Copyright © 2017 -pythoner</p>
        <p>友情链接<a href="http://www.weipxiu.com/" title="唯品秀" target="_blank">唯品秀</a> by 李俊</p>
    </div>
</footer>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1263654482'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1263654482%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>