{% include "header.html" %}
{% load staticfiles %}
<!--------------Content--------------->
<section id="content">
	<div class="zerogrid">
		<div class="row">
			<div class="main-content">
					<div class="col04" style="text-align:center;">
						<img src="{% static "images/pf3.jpg" %}" style="padding:5px; border:1px solid #ccc;"/>
						<p><a href="#">PROJECT 01</a></p>
					</div>
					<div class="col04" style="text-align:center;">
						<img src="{% static "images/pf4.jpg" %}" style="padding:5px; border:1px solid #ccc;"/>
						<p><a href="#">PROJECT 02</a></p>
					</div>
					<div class="col04" style="text-align:center;">
						<img src="{% static "images/pf5.jpg" %}" style="padding:5px; border:1px solid #ccc;"/>
						<p><a href="#">PROJECT 03</a></p>
					</div>
					<div class="col04" style="text-align:center;">
						<img src="{% static "images/pf6.jpg" %}" style="padding:5px; border:1px solid #ccc;"/>
						<p><a href="#">PROJECT 04</a></p>
					</div>
					<div class="col04" style="text-align:center;">
						<img src="{% static "images/pf7.jpg" %}" style="padding:5px; border:1px solid #ccc;"/>
						<p><a href="#">PROJECT 05</a></p>
					</div>
					<div class="col04" style="text-align:center;">
						<img src="{% static "images/pf8.jpg" %}" style="padding:5px; border:1px solid #ccc;"/>
						<p><a href="#">PROJECT 06</a></p>
					</div>
					<div class="col04" style="text-align:center;">
						<img src="{% static "images/pf9.jpg" %}" style="padding:5px; border:1px solid #ccc;"/>
						<p><a href="#">PROJECT 07</a></p>
					</div>
					<div class="col04" style="text-align:center;">
						<img src="{% static "images/pf10.jpg" %}" style="padding:5px; border:1px solid #ccc;"/>
						<p><a href="#">PROJECT 08</a></p>
					</div>
			</div>
		</div>
	</div>
</section>
<!--------------Footer--------------->
{% include "footer.html" %}

</body></html>